{% load staticfiles %}
<div id="about" class="container vertical-center">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-sm-12">
      <h2>About</h2>
      <p>This is a simple web app to forward links to friends or yourself through a simple text message.  <br>
         With each message sent a random number will be generated, this code will be unique <br>
          and appear in the subject line. Currently messages are delivered through Gmail Servers.</p>

      <img src="{% static "textIt/images/cell.png" %}" class="img-rounded" alt="Cinque Terre" width="304" height="236">
    </div>
  </div>
</div>