{% load crispy_forms_tags %}

<div id="top"class="jumbotron vertical-center">
  <div class="container">
      <div class="col-sm-4 col-sm-offset-4">
        <h4 id="textFormHeader">Fill out the form below to text</h4>
          <form id="sendTextForm"  class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                    {{form|crispy}}
              <button type="submit" class="btn btn-success">Submit</button>
          </form>
      </div>
  </div>
</div>